.heroContainer {
  /* background-color: #1DB954; */
  height: 55vh;
}

.heroText {
  position: relative;
  top: 35%;
  z-index: 1;
}

.bordercolor {
  border-color: var(--accent-color) !important;
}

.textHighlight {
  color: var(--primary-color);
}

.form {
  background-color: #343a40;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
