.heroContainer {
  background-color: #1DB954;
  height: 55vh;
}

.heroText {
  position: relative;
  top: 35%;
  z-index: 1;
}

.stepNumbers {
  font-size: 20em;
  opacity: 0.5;
}

.bordercolor {
  border-color: #1DB954 !important;
}

.spotifyColor {
  color: #1DB954;
}

.form {
  background-color: #343a40;
}

.footer {
  height: 8vh;
  background-color: black !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
